.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.visible {
  animation: moveUpReveal 1s ease-in-out forwards;
}

@media only screen and (min-width: 1300px) {
  .home {
    flex-direction: row;
  }
}

@keyframes moveUpReveal {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}